---
import { getCollection } from 'astro:content';
import React from 'react';

import { BlogGallery } from '@/features';
import { APP_CONFIG, PaginationHeader, Section, sortByDate } from '@/shared';
import BaseTemplate from '@/templates/Base.astro';

const allPosts = sortByDate(await getCollection('blog'));

export const getStaticPaths = () => allPosts;

const title = `Blog page - ${APP_CONFIG.siteName}`;
const description = 'Some personal notes.';
---
    <BaseTemplate head={{ description, title }}>
        <Section>
            <PaginationHeader
                description={description}
                title="Posts"
            />
        </Section>
        <Section>
            <BlogGallery postList={allPosts} />
        </Section>
    </BaseTemplate>
