<!DOCTYPE html>
<html lang="en-En">
<head>
    <meta charset="UTF-8">
    <meta content="#141414" name="theme-color">
    <meta content="#141414" name="msapplication-TileColor">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="yes" name="mobile-web-app-capable">
    <meta content="player-app" name="description" />
    <base href="/">
    <title><%- title %></title>
    <link rel="icon" href="./assets/favicon.png" />
    <%- injectScript %>
</head>
<body>
<noscript>
    If you're seeing this message, that means
    <strong>JavaScript has been disabled on your browser</strong>, please
    <strong>enable JS</strong> to make this app work.
</noscript>
</body>
</html>
