@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    * {
        scrollbar-color: rgba(136, 154, 201, 0.3) transparent;
        scrollbar-width: auto;
    }

    *::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    *::-webkit-scrollbar-track {
        background: transparent;
        box-shadow: none;
    }

    *::-webkit-scrollbar-thumb {
        background-color: rgba(136, 154, 201, 0.3);
        border-radius: calc(4px / 2);
    }

    .cv-page {
        min-height: calc(100vh - theme('spacing.20') - theme('spacing.20'));
    }
}
